{% extends 'base.html.twig' %}

{% block title %}
    Hello HomeController!
{% endblock title %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app', null, 'website-config') }}
{% endblock stylesheets %}
{% block javascripts %}
    {% for jsFile in encore_entry_js_files('app', 'website-config') %}
        <script nonce="a6d2c5203bc7da2cf1eb6e3dfaa89dcb" src="{{ asset(jsFile) }}" defer></script>
    {% endfor %}
{% endblock javascripts %}

{% block body %}
    <div class="example-wrapper">
        <h1 class="text-3xl font-bold underline">
            Hello
            {{ controller_name }}! ✅
        </h1>This friendly message is coming from:<ul>
            <li>
                Your controller at
                <code><a href="{{ path('app_home') }}">src/Controller/HomeController.php</a></code>
            </li>
            <li>
                Your template at
                <code><a href="{{ path('app_home') }}">templates/home/index.html.twig</a></code>
            </li>
        </ul>

        <button class="text-white px-4 sm:px-8 py-2 sm:py-3 bg-sky-700 hover:bg-sky-800">
            ...
        </button>
    </div>
{% endblock body %}
