{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Plantilla Base Symfony | Inicio'|trans }}
{% endblock title %}

{% block stylesheets %}
    {% for cssFile in encore_entry_css_files('styles', 'website-config') %}
        <link rel="stylesheet" href="{{ cssFile }}" />
    {% endfor %}
    {% for cssFile in encore_entry_css_files('styles-mobile', 'website-config') %}
        <link rel="stylesheet" href="{{ cssFile }}" />
    {% endfor %}
{% endblock stylesheets %}

{% block javascripts %}
    {% cspscript %}
    {# <script nonce="{{ csp_nonce('script') }}" src="https://apps.elfsight.com/p/platform.js" defer></script> #}
    <script nonce="{{ csp_nonce('script') }}"
        src="https://static.elfsight.com/platform/platform.js"
        data-use-service-core
        defer></script>
    {% endcspscript %}
    {% for jsFile in encore_entry_js_files('app', 'website-config') %}
        {% cspscript %}
        <script nonce="{{ csp_nonce('script') }}" src="{{ asset(jsFile) }}" defer></script>
        {% endcspscript %}
    {% endfor %}
{% endblock javascripts %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; } .example-wrapper
        code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>
            Hello {{ controller_name }}! ✅
        </h1>This friendly message is coming from:<ul>
            <li>
                Your controller at
                <code>
                    <a href="{{ 'C:/Users/samue/OneDrive/Escritorio/www.arbol.mx/src/Controller/HomeController.php'|file_link(
                            0
                        ) }}">
                        src/Controller/HomeController.php
                    </a>
                </code>
            </li>
            <li>
                Your template at
                <code>
                    <a href="{{ 'C:/Users/samue/OneDrive/Escritorio/www.arbol.mx/templates/home/index.html.twig'|file_link(
                            0
                        ) }}">
                        templates/home/index.html.twig
                    </a>
                </code>
            </li>
        </ul>
    </div>
{% endblock body %}
