{% extends 'base.html.twig' %}

{% block title %}
    {{ 'home.title'|trans }}
{% endblock title %}

{% block stylesheets %}
    {% for cssFile in encore_entry_css_files('app-home', 'website-config') %}
        <link {{ app.environment == 'prod' ? 'nonce="' ~ csp_nonce('style') ~ '"' : '' }}
            rel="stylesheet"
            href="{{ cssFile }}" />
    {% endfor %}
{% endblock stylesheets %}

{% block javascripts %}
    {% for jsFile in encore_entry_js_files('app-home', 'website-config') %}
        {% cspscript %}
        <script nonce="{{ csp_nonce('script') }}" src="{{ asset(jsFile) }}" defer></script>
        {% endcspscript %}
    {% endfor %}
{% endblock javascripts %}

{% block header %}
    <div class="cont">
        {# LOGO #}
        <h1 id="logo">
            <a href="" title="{{ website.name }}"></a>
            <span>{{ website.name }}</span>
        </h1>
        {# NAV #}
    </div>
{% endblock header %}

{% block main %}
    {# INICIO #}
    <section role="contentinfo" class="row portada full-height">
        <a href="#about-us" class="btn-scroll"></a>

        <div class="tx">
            <h2>
                Somos un estudio de diseño especializado <br class="pc" />en el desarrollo de
                soluciones multimedia y web
            </h2>
        </div>
    </section>
    {# / INICIO #}

    {# QUIÉNES SOMOS #}
    <section role="contentinfo" id="about-us" class="quienes-somos contenido efecto transition">
        <div class="cont-mini-2">
            <header class="cabezal">
                <h3>
                    {{ 'Quiénes somos'|trans }}
                </h3>
            </header>

            <article role="contentinfo" class="center">
                <p>
                    {{
                        'Priorizamos la funcionalidad y accesibilidad de cada proyecto, diseñando y programando cada aplicación acorde a las necesidades de cada cliente.'|trans
                    }}
                </p>

                <p>
                    {{
                        'Desde hace más de 10 años trabajamos para clientes de Uruguay y el mundo, creando:
                    sitios web, intranets, sistemas de administración de contenidos, interfaces de usuario
                    interactivas, DVD’s / CD’s y banners. entre otros productos.'|trans
                    }}
                </p>
            </article>
        </div>
    </section>
    {# / QUIÉNES SOMOS #}

    {# SERVICIOS #}
    <section role="contentinfo" id="services" class="servicios contenido efecto transition">
        <div class="cont">
            <header class="cabezal">
                <h3>
                    {{ 'Servicios'|trans }}
                </h3>
            </header>

            {% for i in 1..4 %}
                <div class="cols-4">
                    <div class="mod-servicios">
                        <i class="ico ico-programacion"></i>
                        <h4>
                            {{ 'Programación web'|trans }}
                        </h4>
                        <p>
                            {{
                                'Phasellus nisl arcu, dignissim a orci et, semper rhoncus sem. Fusce id augue in leo iaculis feugiat ut vitae orci.'|trans
                            }}
                        </p>
                    </div>
                </div>

                <div class="cols-4">
                    <div class="mod-servicios">
                        <i class="ico ico-programacion"></i>
                        <h4>
                            {{ 'Programación web'|trans }}
                        </h4>
                        <p>
                            {{
                                'Phasellus nisl arcu, dignissim a orci et, semper rhoncus sem. Fusce id augue in leo iaculis feugiat ut vitae orci.'|trans
                            }}
                        </p>
                    </div>
                </div>

                <div class="cols-4">
                    <div class="mod-servicios">
                        <i class="ico ico-programacion"></i>
                        <h4>
                            {{ 'Programación web'|trans }}
                        </h4>
                        <p>
                            {{
                                'Phasellus nisl arcu, dignissim a orci et, semper rhoncus sem. Fusce id augue in leo iaculis feugiat ut vitae orci.'|trans
                            }}
                        </p>
                    </div>
                </div>

                <div class="row"></div>
            {% endfor %}
        </div>
    </section>
    {# / SERVICIOS #}

    {# PORTFOLIO #}
    <section role="contentinfo" id="portfolio" class="portfolio contenido transition no-efecto">
        <header class="cabezal">
            <h3>
                {{ 'Portfolio'|trans }}
            </h3>
        </header>

        <div class="row mod-portfolio">
            {% for i in 1..35 %}
                <div class="cols-2-5">
                    <a class="ratio-75"
                        data-fancybox="portfolio"
                        data-src="{{ asset('build/website/images/ejemplo-1.png') }}"
                        href="micuartito.com.uy">
                        <div class="hover">
                            <h4>
                                Mi Cuartito<br /><!-- <span>Web</span> -->
                            </h4>
                        </div>
                        <img src="{{ asset('build/website/images/ejemplo-1.png') }}" alt="" />
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    {# / PORTFOLIO #}

    {# CLIENTES QUE CONFIAN EN NOSOTROS #}
    <section role="contentinfo"
        id="{{ locale == 'es' ? 'clientes' : 'clientes' }}"
        class="clientes efecto transition">
        <div class="cont">
            <header class="cabezal">
                <h3>
                    {{ 'CLIENTES QUE CONFIAN EN NOSOTROS'|trans }}
                </h3>
            </header>

            <div class="row splide">
                <div class="splide__arrows splide__arrows--ltr">
                    <i class="splide__arrow prev"></i>
                    <i class="splide__arrow next"></i>
                </div>

                <div class="splide__track">
                    <ul class="splide__list">
                        {% for i in 1..4 %}
                            <li class="splide__slide">
                                <img src="{{ asset('build/website/images/11-1.jpg') }}" alt="" />
                            </li>
                            <li class="splide__slide">
                                <img src="{{ asset('build/website/images/11-2.jpg') }}" alt="" />
                            </li>
                            <li class="splide__slide">
                                <img src="{{ asset('build/website/images/11-3.jpg') }}" alt="" />
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {# / CLIENTES QUE CONFIAN EN NOSOTROS #}
{% endblock main %}

{# FOOTER #}
{% block footer %}
    <div class="cont">
        {# CONTACTO #}
        <section role="contentinfo" id="contact" class="contacto contenido">
            <div class="cont-mini">
                <header class="cabezal">
                    <h3>
                        {{ 'Contacto'|trans }}
                    </h3>
                </header>

                {{
                    form_start(
                        contactForm,
                        {
                            method: 'post',
                            attr: {
                                id: 'enviado',
                                class: 'form-contacto'
                            }
                        }
                    )
                }}
                <h6>
                    {{ 'Envianos tu consulta'|trans }}
                </h6>

                <div class="cols-6">
                    <div class="caja-form required">
                        {{ form_widget(contactForm.name) }}
                    </div>

                    <div class="caja-form required">
                        {{ form_widget(contactForm.phone) }}
                    </div>

                    <div class="caja-form required">
                        {{ form_widget(contactForm.email) }}
                    </div>
                </div>

                <div class="cols-6">
                    <div class="caja-form required">
                        {{ form_widget(contactForm.message) }}
                    </div>

                    {{ form_widget(contactForm.send) }}
                </div>

                <div class="my-custom-class-for-errors">
                    {{ form_errors(contactForm) }}
                </div>
                {{ form_end(contactForm) }}

                <form action="" method="post" id="enviado" class="form-contacto">
                    <h6>
                        {{ 'Envianos tu consulta'|trans }}
                    </h6>

                    <div class="cols-6">
                        <div class="caja-form required">
                            <input name="nombre"
                                type="text"
                                placeholder="{{ 'Nombre'|trans }}"
                                value=""
                                required />
                        </div>

                        <div class="caja-form required">
                            <input name="tel"
                                type="text"
                                value=""
                                placeholder="{{ 'Teléfono'|trans }}"
                                required />
                        </div>

                        <div class="caja-form required">
                            <input name="correo"
                                type="email"
                                value=""
                                placeholder="{{ 'Correo electrónico'|trans }}"
                                required />
                        </div>
                        <label for="verificacion" class="verif">
                            ¡Si ves esto, no llenes el siguiente campo!
                        </label>
                        <input name="verificacion" value="" class="verif" />
                    </div>

                    <div class="cols-6">
                        <div class="caja-form required">
                            <textarea name="msj"
                                placeholder="{{ 'Mensaje'|trans }}"
                                required></textarea>
                        </div>

                        <input type="submit"
                            name="submit"
                            class="submit"
                            value="{{ 'ENVIAR'|trans }}" />
                    </div>
                </form>

                <address role="contentinfo">
                    <div class="cols-4">
                        <i class="ico ico-ubicacion"></i>
                        <h6>
                            {{ 'Dirección'|trans }}
                        </h6>
                        <span>Salto 1057. Montevideo, Uruguay</span>
                    </div>

                    <div class="cols-4 pl-80">
                        <i class="ico ico-tel"></i>
                        <h6>
                            {{ 'Teléfono'|trans }}
                        </h6>
                        <span><a href="tel:+59824134539">+598 2413 4539</a></span>
                    </div>

                    <div class="cols-4">
                        <i class="ico ico-correo"></i>
                        <h6>
                            {{ 'Correo electrónico'|trans }}
                        </h6>
                        <a href="mailto:"></a>
                    </div>
                </address>
            </div>
        </section>
        {# / CONTACTO #}
    </div>
{% endblock footer %}
{# / FOOTER #}
